body {
  background-image: url("images/landscape.jpg");
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weatherForm {
  margin: 20px;
}

.appTitle {
  margin-top: 30px;
}

.cityInput {
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid hsla(0, 0%, 20%, 0.264);
  border-radius: 10px;
  margin-right: 10px;
}

.weatherContainer {
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  align-items: center;
  justify-content: center;
  height: 500px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-weight: bold;
  font-size: 2rem;
  background-color: hsl(5, 86%, 56%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: hsl(5, 86%, 46%);
}

.card {
  background: linear-gradient(180deg, hsl(5, 86%, 56%), rgb(220, 178, 101));
  padding: 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3.5rem;
  margin-top: 0;
  margin-bottom: 25px;
}

p {
  font-size: 1.5rem;
  margin: 5px 0;
}

.cityDisplay,
.tempDisplay {
  font-size: 3.5rem;
  font-weight: bold;
  color: hsla(0, 0%, 0%, 0.75);
  margin-bottom: 25px;
}

.humidityDisplay {
  font-weight: bold;
  margin-bottom: 25px;
}

.descDisplay {
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
}

.weatherEmoji {
  margin: 0;
  font-size: 7.5rem;
}

.errorDisplay {
  font-size: 2.5rem;
  font-weight: bold;
  color: hsla(0, 0%, 0%, 0.75);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
